<%- include("./partials/header") -%>
    <h1>Compose</h1>

    <form class="posts" action="/compose" method="post">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input class="form-control" type="text" name="postTitle" autocomplete="off">
            <label for="postContent">Post</label>
            <textarea class="form-control" id="postContent" name="postContent" rows="8" cols="30"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="publish">Publish</button>
    </form>

    